*{
    font-family: 'Oswald', sans-serif;
}
#spot-detail-wrapper{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:  #252525;

}
#user-stance{
    color:#BBBBBB;
    width: 273px;
    height: 83px;
    left: 35px;
    top: 266px;
     
        
    background: #110F0F;
    backdrop-filter: blur(4px);
        
        
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 25px;

}


#user_stance{
    
    text-transform:uppercase;
    color:#BBBBBB;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 40px;   
}
#description{
    color:#BBBBBB;
    color: #BBBBBB;
    width: 60vh;
    width: 100vh;
    
    
    text-align: center; 
    font-size: 23px;
    
    text-shadow: 5px -3px 15px 5px rgba(0,0,0,0.55);
}

#linebreak{
    border-top: 1px dotted #ddd;
    margin-top: 28px;
    margin-bottom: 29px;
    width: 100vh;
}
#spot-image{
    width: 80vh;
    height: 70vh;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    
    
    margin-top: 50px;
    object-fit: scale-down;
}