*{
    font-family: 'Castoro', serif;;
}
.main-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #252525;
}

#user-image{
    border-radius: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
#user-stance{
color:#BBBBBB;
width: 273px;
height: 83px;
left: 35px;
top: 266px;

background: #110F0F;
backdrop-filter: blur(4px);


border-radius: 50px;
}
#user_stance{
    text-transform:uppercase;
    
    padding-top: 32px;
    padding-left: 65px;
}